"" Source your .vimrc

source ~/nvime/vimrc/keymaps.vim
source ~/nvime/vimrc/options.vim

"" =======================================================

"" https://github.com/JetBrains/ideavim/wiki/NERDTree-support
set NERDTree
nnoremap <C-b> :NERDTreeToggle<CR>
nnoremap <Leader>e :NERDTreeFocus<CR>

"" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins#commentary=
set commentary

"" =======================================================

"" IDE Action
nnoremap <Leader>h :action ActivateTerminalToolWindow<CR>
nnoremap <Leader>f :action ReformatCode<CR>
nnoremap <Leader>n :action NewFile<CR>

"" =======================================================

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" Find more examples here: https://jb.gg/share-ideavimrc
