"" Source your .vimrc

source ~/nvime/vim-config/keymaps.vim
source ~/nvime/vim-config/options.vim

"" =======================================================

"" https://github.com/JetBrains/ideavim/wiki/NERDTree-support
set NERDTree
nnoremap <Leader>e :NERDTree<CR>

"" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins#commentary=
set commentary

"" =======================================================

"" IDE Action
nnoremap <Leader>h :action ActivateTerminalToolWindow<CR>
nnoremap <Leader>f :action ReformatCode<CR>
nnoremap <Leader>n :action NewFile<CR>

"" =======================================================

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
